* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.label-text{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 35px;
}
.price-calculator {
    background-color: #12163D;
    color: white;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    width: 450px;
    height: auto;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    box-shadow: rgba(225, 225, 225, 0.3) 0px 19px 38px, 
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding-top: 70px;
    padding-bottom: 45px;

}

.price-calculator h2{
    color: white;
    font-size: 20px;
}
.price-calculator h3 {
    color: white;
    font-size: 18px;
    margin-bottom: 35px;
}


.price-calculator p {
    font-size: 18px;
    font-weight: normal;
}


   .price-header {
    text-align: center !important;
    font-weight: 200 !important;
    font-size: 15px !important;
    margin-bottom: 30px !important;
    color: #fff !important;

}

#price {
    font-weight: normal;
}


.next-step-btn {
    background-color: #DF7B5D; 
    color: black; 
    border: none; 
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer; 
    text-align: center; 
    margin-top: 30px;
}

.next-step-btn:hover {
    background-color: #C96B51; 
}


.slider-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 35px;
}

.antalMedarbetare  {
    position: absolute;
    top: -40;
    left: 0;
    z-index: 9999;
    padding-inline: 20px;
    pointer-events: none;
    
}


.antalMedarbetare span {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    pointer-events: none;
}


input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0 10px;
    appearance: none;
    background: #ccc;
    height: 12px;
    border-radius: 5px;
}


input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-indent: -9999px;
    background: #E27A59;
    cursor: pointer;
    transition: transform 0.5s ease;
}


input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.3); 
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2); 
}
