.label-text{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 18px;
}
.price-calculator {
    background-color: #12163D;
    color: white;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    width: 450px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
}
.price-calculator h2 {
    color: white;
    font-size: 20px;
}
.price-calculator h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 35px;
}

.price-calculator p {
    font-size: 20px;
    font-weight: normal;
}
#price {
    font-weight: normal;
}

.next-step {
    margin-top: 35px;
    border-style: none;
}
.price-calculator button {
    color: white;
}

.slider-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    margin-bottom: 35px;
}

input[type="range"] {
    width: 100%;
    margin: 0 10px;
    appearance: none;
    background: #ccc;
    height: 5px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F26D5A;
    cursor: pointer;
}